<h1><%= @team.name %></h1>
  <p>Year Founded: <%= @team.year_founded %></p>
  <p> World Series Appearance: <%= @team.world_series_appearance %></p>
  <p>Number of Players: <%= @team.players_count %></p>

  <%= link_to "Players", "#{@team.id}/players" %>

  <%= link_to "Update #{@team.name}", "#{@team.id}/edit" %>

  <%= link_to "Delete #{@team.name}", "/teams/#{@team.id}" , method: :delete %>