<h1>Players on the: <%= @team.name %></h1>

<% @players.each do |player| %>
  <li>
    <p>Name: <%= player.name %></p>
    <p>Hall of Fame: <%= player.hall_of_fame %></p>
    <p>Games Played: <%= player.games_played %></p>

    <%= link_to "Delete #{player.name}", "/teams/#{@team.id}/players/#{player.id}", data:{turbo_method: :delete} %>
  </li>
<% end %>

<%= link_to 'Create Player', "/teams/#{@team.id}/players/new" %>

<%= link_to 'Sort Players Alphabetically', "/teams/#{@team.id}/players?sort=true"  %>

<section class="games_over">
  <%= form_with url: "/teams/#{@team.id}/players", method: :get do |f| %>
  
    <%= f.label :games_played, "Games played above" %>
    <%= f.text_field :games_played %>

    <%= f.submit 'Submit' %>
    
  <% end %>
  
</section>